---
import Accordion from "./Accordion/Accordion.svelte";

const { collection, stages, field } = Astro.props;
---

<div>
    <button 
    hx-trigger="click"
    hx-post="/partials/element"
    hx-target="#result"
    hx-vals='{"dato1": "valor1", "dato2": "valor2"}'
    hx-swap="beforeend"
    class="py-3 px-8 bg-zinc-900 rounded-lg">
        Añadir elemento
    </button>

    <Accordion collection={collection} field={field}>
        {
            <div id="result">
            {
                stages.map((stage:any) => (
                <div>
                    {stage.name}    
                </div>
                ))
            }
            </div>
        }
    </Accordion>

</div>