---
import Card from "../components/Card.astro";
import { Collections, DashboardConfig } from "../../lexgi.mjs";
import Chart from "./Chart.astro";
import { API_URL, SITE_URL } from "../consts.mjs";

async function collectionCounter(collectionSlug:string){
  const response = await fetch(API_URL + collectionSlug + '/count');
  if(response.ok) {
    return await response?.json();
  }
}

const counters:any = {};

await Promise.all(Object.values(Collections).map(async (collection) => {
  const data = await collectionCounter(collection.slug);
  counters[collection.slug] = data.count;
}));

---

<div class="flexee-container">
    <h1>El Mundo del Saquito</h1>
    <p class="instructions">
      Desde el <code>Dashboard</code> puedes ver un resumen de tu sitio web y acceder <br /> y administrar sus <strong>Colecciones</strong> de forma cómoda.
    </p>
    <ul role="list" class="link-card-grid">
      {
        Object.values(Collections).map((collection:any, index:any) => (
          <Card
            href={'/admin/'+collection.slug}
            title={collection.name}
            body={"Esta colección tiene " + collection.fields.length + ' campos.'}
            counter={counters[collection.slug]}
          />
        ))
      }
    </ul>

    <section class="dashboard-blocks">
      <div class="dashboard-block">
        <div class="w-full rounded-lg p-4 md:p-6">
          <div class="flex justify-between mb-5">
            <div>
              <h5 class="leading-none text-3xl font-bold text-zinc-900 dark:text-white mb-3">Sitio web</h5>
              <p class="text-base font-normal text-zinc-500 dark:text-zinc-400">
                <a href="https://elmundodelsaquito.es">https://elmundodelsaquito.es</a>
              </p>
            </div>
          </div>

          <iframe style="width: 100%;min-height: 900px;border-radius: 9px;" src={SITE_URL}></iframe>
        </div>
      </div>
    </section>

    <!-- <section class="dashboard-blocks">
      <div class="dashboard-block">
          <Chart id="chart-1"></Chart>
      </div>
      <div class="dashboard-block">
          <Chart id="chart-2"></Chart>
      </div>
    </section> -->
</div>


<style>

  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
	  font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 2.5rem 0;
    text-wrap: balance;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 0 16px;
  }

  iframe {
    background-color: #121212 !important;
    color-scheme: darkness;
  }
  
  .text-gradient {
	background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    text-wrap: balance;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(35ch,1fr));
    gap: 1.6rem;
    padding: 0;
    margin: 3rem 0;
  }

  section.dashboard-blocks {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 1.5rem;
  }

  .dashboard-block {
    flex: 1;
    padding: 0;
    background: #0b0b0b;
    border-radius: 8px;
    border: 1px solid #141414;

    & header {
      padding: 22px 26px;
      border-bottom: 1px solid #141414;
    }
  }
</style>