---
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title?: string;
}

const { title } = Astro.props;

const customCss = `
 .site-logo {
  filter: sepia(1) invert(1) hue-rotate(35deg);
 }
`
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Administrador de El Mundo del Saquito" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Noto+Sans:wght@100;200;300;400;600;700&family=Roboto:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism-dark.min.css" integrity="sha512-y6rcKLYkttB9ZUBaz0IsncWFo1VoqISrcMY6J1i6Nb9WB9jRrpll8zjt5e1/naZHyXFoR/1VlH72+2VJ1Uzh7A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- <ViewTransitions fallback='swap'></ViewTransitions> -->
  </head>
  <body>
    <slot />
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
    <script is:inline src="/reload/reload.js"></script>
  </body>
</html>


<style is:global>
	
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
    --nav-width: 260px;
    --nav-btn-size: 36px;
    --site-bg: #090909;
  }

  * {
    box-sizing: border-box;
  }

  html {
    font-family: system-ui, sans-serif;
    background: #000;
    background-size: 224px;
    color-scheme: dark;
  }
  body {
    margin: 0;
    min-height: 100dvh;
    overflow: hidden;
    height: 100dvh;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  .flexee-container {
    width: 100%;
    max-width: 1820px;
    margin: 0 auto;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .padding-0 {
	padding: 0;
  }

  .flex {
    display: flex;
  }

  .just-content-space-between {
    justify-content: space-between;
  }

  .capitalize {
    text-transform: capitalize;
  }
  .layout {
    grid-template-columns: var(--nav-width) 1fr;
    display: grid;
    align-items: flex-start;
    width: calc(100% + var(--nav-width));
    transform: translate3d(calc(var(--nav-width) * -1), 0, 0);
    transition: width 0.3s ease,transform 0.3s ease;
    position: relative;
    z-index: 50;
  }

  .toggle-aside-button {
    transform: translateX(var(--nav-width));
    transition: transform 0.3s ease;
    width: var(--nav-btn-size);
    height: var(--nav-btn-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    position: fixed;
    top: 27px;
    left: 22px;
    z-index: 35;
    cursor: pointer;
    color: #f0f0f0;
    background: #ffffff08;
    box-shadow: 0 0 0 1px #2f2f2fcc;
    backdrop-filter: blur(7px);
    padding: 8px;
  }

  .layout.aside-opened {
      width: 100%;
      transform: translate3d(0, 0, 0);
  }

  .layout.aside-opened .toggle-aside-button {
    transform: translateX(0);
  }

  .layout-content {
    flex: auto;
    background: var(--site-bg);
    overflow: auto;
    height: 100vh;
  }



  main {
    margin: auto;
    color: white;
    font-size: 18px;
    line-height: 1.6;
    min-height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
  }

  .section-header {
    display: flex;
    align-items: center;
    gap: 22px;
    margin: 1rem 0;
    padding: 10px 0;

    & .btn {
		display: flex;
		align-items: center;
		padding: 4px 20px;
		border-radius: 5px;
		border: none;
		color: #dbdbdb;
		background: #2d2d2d;
		font-weight: 500;
		cursor: pointer;
		font-size: 0.9em;
		text-decoration: none;
		min-height: 36px;
		font-family: Roboto, system-ui, 'sans-serif';

	  &.btn--primary-color {
		background-color: rgb(160, 84, 255);
    	color: rgb(0, 0, 0);
	  }
    }

    & .flexee-container {
      align-items: center;
    }
  }

  .section-header-actions {
	display: flex;
	gap: 10px;
  }

  .tox-notifications-container {
    display: none;
  }


  /* form-row and form-field */
  .form-row {
    display: flex;
    gap: 24px;
    margin-bottom: 1rem;
  }

  .group-field {
      width: 100%;
      padding: 2.25rem;
      border: 1px solid #111;
      border-left: 4px solid #111;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
  }

  .group-field-title {
      font-weight: 600;
      font-size: 1.3em;
      margin: 0;
      line-height: 1;
      margin-bottom: 0.5rem;
  }

  .form-field {
    flex: auto;
    display: flex;
    width: 100%;
  }

  .form-field input:not(input[type="checkbox"]):not(input[type="radio"]),
  .form-field textarea,
  .form-field .rich-text-editor__content {
    width: 100%;
    padding: 16px 20px;
    border-radius: 6px;
    border: none;
    background: transparent;
    color: #fff;
    outline: 1px solid #eeeeee14;
    font-size: 0.9em;
    max-width: 100%;
    line-height: 1.5;
  }

  .form-field input:read-only {
    cursor: default;

    &:focus {
      box-shadow: none;
      outline-offset: 0;
    }
  }

  .form-field textarea {
    min-height: 140px;
    min-width: 100%;
    width: 100% !important;
    font-size: 0.96em;
    padding: 20px 24px;
    line-height: 1.44;
  }

  .combo-field {

  }

  span.required-symbol {
    color: #f44336;
    margin-left: 0.1em;
  }

  .media-modal :is(.dark .dark\:bg-gray-800){
    background-color: #27272a;
  }

  :is(.dark .dark\:divide-gray-700)>:not([hidden])~:not([hidden]) {
    border-color: #343434;
  }

</style>

<style is:global set:html={customCss}>

</style>